{% comment %}
  Renders a specific part of a product media gallery.
  This is a simplified version to only show the first media item.

  Accepts:
  - product: {Object} Product liquid object
{% endcomment %}

{%- liquid
  assign featured_media = product.selected_or_first_available_variant.featured_media
-%}

<media-gallery
  id="MediaGallery-Simplified"
  role="region"
  aria-label="Simplified Gallery Viewer"
>
  <div class="product__media-list">
    {% if featured_media %}
      <div class="product__media-item">
        {% render 'product-thumbnail',
          media: featured_media,
          media_count: 1,
          position: 1,
          desktop_layout: 'stacked',
          mobile_layout: 'stacked',
          loop: false,
          modal_id: 'Simplified',
          xr_button: false,
          media_width: 0.55,
          media_fit: 'contain',
          constrain_to_viewport: true,
          lazy_load: false
        %}
      </div>
    {% endif %}
  </div>
</media-gallery>
