<style>
  .pp__snacks {
    position: relative;
}

section {
    display: block;
}

@media screen and (min-width: 660px)
.pp__cont {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 60px;
}

.pp__cont {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.pp__snacks__header {
    width: 100%;
}

@media screen and (min-width: 660px)
.section_header {
    font-size: 44px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 40px;
}

.section_header {
    font-weight: 600;
    text-transform: capitalize;
    color: #001a43;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 30px;
    text-align: center;
}
.pp__snacks__header h2 {
    margin-bottom: 0;
    max-width: 880px;
}

@media screen and (min-width: 660px)
.pp__snacks__gallery {
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.pp__snacks__gallery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 100%;
}

.pp__snacks__gallery__snack {
    width: 100%;
    aspect-ratio: 1;
    background-position: center;
    background-size: contain;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
</style>
<section class="pp__snacks">
    <div class="pp__cont">
      <div class="flex flex-col items-center">
        <div class="pp__snacks__header flex flex-col items-center">
          <span>WHATS IN MY BOX?</span>
          <h2 class="section_header">
            This month's exclusive Japanese snacks, curated for the month of December
          </h2>
        </div>

        <div class="pp__snacks__gallery">
          
            <div class="pp__snacks__gallery__snack" data-index="1" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Crunchy_Shrimp_Noodles.jpg?v=1701327130);">
              <div class="vh">snakc</div>

              <div class="details">
                <h3>Crunchy Shrimp Noodles</h3>
                <h3>バリうまばりばりえび麺</h3>
                <p>
                  Have a bari good time with these Crunchy Shrimp Noodles Snack! This snack is made with Sapporo’s yellow onion noodles that retain the flavour of amaebi (sweet shrimp) and a delightful bari-bari (cr...
                </p>

                <span class="read_more">Read More</span>

                <ul>
                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-flag-icon.svg?v=101950219977739883941688136089" alt="origin_">
                      <span>Origin</span>
                      <b>Hokkaido</b>
                    </li>
                  

                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-more-icon.svg?v=89365920444299181541688136089" alt="more_">
                      <span>Flavor</span>
                      <b>Savoury</b>
                    </li>
                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-allergies-icon.svg?v=58397908498363355641688136089" alt="more_">
                      <span>Allergen</span>
                      <b>Wheat, eggs, soybean, chicken, shrimp</b>
                    </li>
                  
                </ul>
              </div>
            </div>
          
            <div class="pp__snacks__gallery__snack" data-index="2" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Ginger_Yuzu_Dry.jpg?v=1701327129);">
              <div class="vh">snakc</div>

              <div class="details">
                <h3>Ginger Yuzu Dry</h3>
                <h3>ジンジャーゆーずドライ</h3>
                <p>
                  Enjoy the best of Kochi with the Ginger Yuzu Dry! A collaboration between both of Kochi's representative produces, the rich aroma of yuzu and the slightly spiced ginger, creates a delightful kochi-...
                </p>

                <span class="read_more">Read More</span>

                <ul>
                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-flag-icon.svg?v=101950219977739883941688136089" alt="origin_">
                      <span>Origin</span>
                      <b>Kochi</b>
                    </li>
                  

                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-more-icon.svg?v=89365920444299181541688136089" alt="more_">
                      <span>Flavor</span>
                      <b>Sweet</b>
                    </li>
                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-allergies-icon.svg?v=58397908498363355641688136089" alt="more_">
                      <span>Allergen</span>
                      <b>N/A</b>
                    </li>
                  
                </ul>
              </div>
            </div>
          
            <div class="pp__snacks__gallery__snack" data-index="3" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Gokkun_Umajimura_Yuzu_Jelly_Drink.jpg?v=1701327129);">
              <div class="vh">snakc</div>

              <div class="details">
                <h3>Gokkun Umajimura Yuzu Jelly Drink</h3>
                <h3>ごっくん馬路村ゼリー</h3>
                <p>
                  Gokkun Umajimura Yuzu Jelly Drink is made to recreate the refreshing and unmistakable taste of Umaji Village's yuzu, blending it with honey to create an innovative textured yuzu jelly beverage.
                </p>

                <span class="read_more">Read More</span>

                <ul>
                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-flag-icon.svg?v=101950219977739883941688136089" alt="origin_">
                      <span>Origin</span>
                      <b>Kochi</b>
                    </li>
                  

                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-more-icon.svg?v=89365920444299181541688136089" alt="more_">
                      <span>Flavor</span>
                      <b>Sweet</b>
                    </li>
                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-allergies-icon.svg?v=58397908498363355641688136089" alt="more_">
                      <span>Allergen</span>
                      <b>N/A</b>
                    </li>
                  
                </ul>
              </div>
            </div>
          
            <div class="pp__snacks__gallery__snack" data-index="4" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Hokkai_Crab_Rice_Crackers.jpg?v=1701327130);">
              <div class="vh">snakc</div>

              <div class="details">
                <h3>Hokkai Crab Rice Crackers</h3>
                <h3>北海かにせん塩味</h3>
                <p>
                  Hokkai Crab Rice Crackers are made with thinly baked rice crackers made with Hokkaido starch that are slightly salted. The slight saltiness of the rice crackers enhances the flavour of crab, which ...
                </p>

                <span class="read_more">Read More</span>

                <ul>
                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-flag-icon.svg?v=101950219977739883941688136089" alt="origin_">
                      <span>Origin</span>
                      <b>Aichi</b>
                    </li>
                  

                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-more-icon.svg?v=89365920444299181541688136089" alt="more_">
                      <span>Flavor</span>
                      <b>Savoury</b>
                    </li>
                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-allergies-icon.svg?v=58397908498363355641688136089" alt="more_">
                      <span>Allergen</span>
                      <b>Wheat, shrimp, crab, soybean, chicken</b>
                    </li>
                  
                </ul>
              </div>
            </div>
          
            <div class="pp__snacks__gallery__snack" data-index="5" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Marble_Chocolate_Soft_Cookie.jpg?v=1701327130);">
              <div class="vh">snakc</div>

              <div class="details">
                <h3>Marble Chocolate Soft Cookie</h3>
                <h3>マーブルチョコレート</h3>
                <p>
                  *OVERSEAS DEBUT!!* Introducing marl's hobaru cookies, made with ingredients mainly from the prefectures of Gifu and Aichi! This soft cookie is one of marl's all-time favourite cookies, a beloved pr...
                </p>

                <span class="read_more">Read More</span>

                <ul>
                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-flag-icon.svg?v=101950219977739883941688136089" alt="origin_">
                      <span>Origin</span>
                      <b>Gifu</b>
                    </li>
                  

                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-more-icon.svg?v=89365920444299181541688136089" alt="more_">
                      <span>Flavor</span>
                      <b>Sweet</b>
                    </li>
                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-allergies-icon.svg?v=58397908498363355641688136089" alt="more_">
                      <span>Allergen</span>
                      <b>Wheat, dairy, eggs, sesame, soybean</b>
                    </li>
                  
                </ul>
              </div>
            </div>
          
            <div class="pp__snacks__gallery__snack" data-index="6" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Petit_Arare_Yuzu_Pepper.jpg?v=1701327130);">
              <div class="vh">snakc</div>

              <div class="details">
                <h3>Petit Arare Yuzu Pepper</h3>
                <h3>ぷちあられ 柚子こしょう</h3>
                <p>
                  Azuma Arare returns with another irresistible treat! This yuzu pepper-flavoured snack is a part of the Puchi Arare series, crafted to offer a light and enjoyable snacking experience. Yuzu, infused ...
                </p>

                <span class="read_more">Read More</span>

                <ul>
                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-flag-icon.svg?v=101950219977739883941688136089" alt="origin_">
                      <span>Origin</span>
                      <b>Tokyo</b>
                    </li>
                  

                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-more-icon.svg?v=89365920444299181541688136089" alt="more_">
                      <span>Flavor</span>
                      <b>Savoury</b>
                    </li>
                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-allergies-icon.svg?v=58397908498363355641688136089" alt="more_">
                      <span>Allergen</span>
                      <b>Soybean</b>
                    </li>
                  
                </ul>
              </div>
            </div>
          
            <div class="pp__snacks__gallery__snack" data-index="7" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Smooth_Mikan_Jam.jpg?v=1701327130);">
              <div class="vh">snakc</div>

              <div class="details">
                <h3>Smooth Mikan Jam</h3>
                <h3>果樹園のなめらかみかんジャム</h3>
                <p>
                  This popular Smooth Mikan Jam brims with the richness of Arida mikan. Crafted from 100% pure juice from Arida mandarins from Sowa Kajuen, it boasts a velvety texture and a robust mandarin flavour. ...
                </p>

                <span class="read_more">Read More</span>

                <ul>
                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-flag-icon.svg?v=101950219977739883941688136089" alt="origin_">
                      <span>Origin</span>
                      <b>Wakayama</b>
                    </li>
                  

                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-more-icon.svg?v=89365920444299181541688136089" alt="more_">
                      <span>Flavor</span>
                      <b>Sweet</b>
                    </li>
                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-allergies-icon.svg?v=58397908498363355641688136089" alt="more_">
                      <span>Allergen</span>
                      <b>Oranges</b>
                    </li>
                  
                </ul>
              </div>
            </div>
          
            <div class="pp__snacks__gallery__snack" data-index="8" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Snack_Komeko_Yuzu_Pepper.jpg?v=1701327130);">
              <div class="vh">snakc</div>

              <div class="details">
                <h3>Snack Komeko (Yuzu Pepper)</h3>
                <h3>スナックコメ子　柚子胡椒</h3>
                <p>
                  *OVERSEAS DEBUT!!*  If you've experienced our July's 'Taste of the Sea' Omiyage Snack Box, you probably recognise Hinodeya Seika! These small rice crackers, made with 100% Toyama-grown Uruchi rice ...
                </p>

                <span class="read_more">Read More</span>

                <ul>
                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-flag-icon.svg?v=101950219977739883941688136089" alt="origin_">
                      <span>Origin</span>
                      <b>Toyama</b>
                    </li>
                  

                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-more-icon.svg?v=89365920444299181541688136089" alt="more_">
                      <span>Flavor</span>
                      <b>Savoury</b>
                    </li>
                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-allergies-icon.svg?v=58397908498363355641688136089" alt="more_">
                      <span>Allergen</span>
                      <b>Wheat, mackerel, soybean, shrimp</b>
                    </li>
                  
                </ul>
              </div>
            </div>
          
            <div class="pp__snacks__gallery__snack" data-index="9" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Whole_Mikan_Jelly.jpg?v=1701327130);">
              <div class="vh">snakc</div>

              <div class="details">
                <h3>Whole Mikan Jelly</h3>
                <h3>果樹園のみかんジュレ まるごと</h3>
                <p>
                  Cultivated with utmost care by Sowa Kajuen, this whole mikan (mandarin orange) jelly encapsulates the essence of Arida mandarins. Using a whopping 70% straight mikan juice, the entire mikan juice i...
                </p>

                <span class="read_more">Read More</span>

                <ul>
                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-flag-icon.svg?v=101950219977739883941688136089" alt="origin_">
                      <span>Origin</span>
                      <b>Wakayama</b>
                    </li>
                  

                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-more-icon.svg?v=89365920444299181541688136089" alt="more_">
                      <span>Flavor</span>
                      <b>Sweet</b>
                    </li>
                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-allergies-icon.svg?v=58397908498363355641688136089" alt="more_">
                      <span>Allergen</span>
                      <b>Oranges</b>
                    </li>
                  
                </ul>
              </div>
            </div>
          
            <div class="pp__snacks__gallery__snack" data-index="10" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Yuzu_Warabi_Mochi_Stick.jpg?v=1701327130);">
              <div class="vh">snakc</div>

              <div class="details">
                <h3>Yuzu Warabi Mochi Stick</h3>
                <h3>ゆずわらび餅スティック</h3>
                <p>
                  Enjoy the beautiful harmony of the elegant aroma of yuzu and the elasticity of warabi-mochi! Crafted by confectionery brand Ginza Kazuya, this Japanese treat features the aromatic essence of yuzu s...
                </p>

                <span class="read_more">Read More</span>

                <ul>
                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-flag-icon.svg?v=101950219977739883941688136089" alt="origin_">
                      <span>Origin</span>
                      <b>Kyoto</b>
                    </li>
                  

                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-more-icon.svg?v=89365920444299181541688136089" alt="more_">
                      <span>Flavor</span>
                      <b>Sweet and sour</b>
                    </li>
                  

                  
                    <li>
                      <img src="//japanrailclub.com/cdn/shop/t/35/assets/snack-allergies-icon.svg?v=58397908498363355641688136089" alt="more_">
                      <span>Allergen</span>
                      <b>N/A</b>
                    </li>
                  
                </ul>
              </div>
            </div>
          
        </div>

        <div class="pp__snacks__popup popup">
          <div class="pp__snacks__popup__body popup_body">
            <div class="pp__snacks__popup__close">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
            </div>

            <div id="pp__snacks_slides" class="slick-initialized slick-slider">
              
                <div class="slick-list" style="padding: 0px 50px;"><div class="slick-track" style="opacity: 1; width: 0px; transform: translate3d(200px, 0px, 0px);"><div class="pp__snacks_slide slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Whole_Mikan_Jelly.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Whole Mikan Jelly</h3>
                      <h3>果樹園のみかんジュレ まるごと</h3>
                      <p>
                        Cultivated with utmost care by Sowa Kajuen, this whole mikan (mandarin orange) jelly encapsulates the essence of Arida mandarins. Using a whopping 70% straight mikan juice, the entire mikan juice is solidified, which then creates this luxurious jelly that's a true ode to the mikan fruit. It's a mandarin lover's delight!
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Wakayama</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Sowa Kajuen</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Oranges</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Yuzu_Warabi_Mochi_Stick.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Yuzu Warabi Mochi Stick</h3>
                      <h3>ゆずわらび餅スティック</h3>
                      <p>
                        Enjoy the beautiful harmony of the elegant aroma of yuzu and the elasticity of warabi-mochi! Crafted by confectionery brand Ginza Kazuya, this Japanese treat features the aromatic essence of yuzu sourced from Ehime Prefecture, skillfully blended with bracken flour to create the luscious warabi-mochi. Encased in a convenient stick form, this snack promises an easy, on-the-go delight, with a delightful surprise – each bite is filled with the zest of yuzu peels!
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Kyoto</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Ginza Kazuya</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet and sour</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>N/A</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide slick-current slick-active slick-center" data-slick-index="0" aria-hidden="false" style="width: 0px;" tabindex="0">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Crunchy_Shrimp_Noodles.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Crunchy Shrimp Noodles</h3>
                      <h3>バリうまばりばりえび麺</h3>
                      <p>
                        Have a bari good time with these Crunchy Shrimp Noodles Snack! This snack is made with Sapporo’s yellow onion noodles that retain the flavour of amaebi (sweet shrimp) and a delightful bari-bari (crunchy) texture.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Hokkaido</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Hokkaido Food Frontier</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Savoury</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Wheat, eggs, soybean, chicken, shrimp</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide" data-slick-index="1" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Ginger_Yuzu_Dry.jpg?v=1701327129);"></div>

                    <div class="content">
                      <h3>Ginger Yuzu Dry</h3>
                      <h3>ジンジャーゆーずドライ</h3>
                      <p>
                        Enjoy the best of Kochi with the Ginger Yuzu Dry! A collaboration between both of Kochi's representative produces, the rich aroma of yuzu and the slightly spiced ginger, creates a delightful kochi-licious combination.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Kochi</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Umaji Village Agricultural Cooperative Association</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>N/A</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide" data-slick-index="2" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Gokkun_Umajimura_Yuzu_Jelly_Drink.jpg?v=1701327129);"></div>

                    <div class="content">
                      <h3>Gokkun Umajimura Yuzu Jelly Drink</h3>
                      <h3>ごっくん馬路村ゼリー</h3>
                      <p>
                        Gokkun Umajimura Yuzu Jelly Drink is made to recreate the refreshing and unmistakable taste of Umaji Village's yuzu, blending it with honey to create an innovative textured yuzu jelly beverage.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Kochi</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Umaji Village Agricultural Cooperative Association</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>N/A</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide" data-slick-index="3" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Hokkai_Crab_Rice_Crackers.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Hokkai Crab Rice Crackers</h3>
                      <h3>北海かにせん塩味</h3>
                      <p>
                        Hokkai Crab Rice Crackers are made with thinly baked rice crackers made with Hokkaido starch that are slightly salted. The slight saltiness of the rice crackers enhances the flavour of crab, which is one of Hokkaido's seafood icons.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Aichi</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Hokkaido Food Frontier</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Savoury</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Wheat, shrimp, crab, soybean, chicken</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide" data-slick-index="4" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Marble_Chocolate_Soft_Cookie.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Marble Chocolate Soft Cookie</h3>
                      <h3>マーブルチョコレート</h3>
                      <p>
                        *OVERSEAS DEBUT!!* Introducing marl's hobaru cookies, made with ingredients mainly from the prefectures of Gifu and Aichi! This soft cookie is one of marl's all-time favourite cookies, a beloved product crafted since the inception of marl. White and dark chocolate (57% cacao) are intricately woven into the vanilla and chocolate dough, resulting in a delectable blend of flavours unique to marl.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Gifu</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>marl</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Wheat, dairy, eggs, sesame, soybean</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide" data-slick-index="5" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Petit_Arare_Yuzu_Pepper.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Petit Arare Yuzu Pepper</h3>
                      <h3>ぷちあられ 柚子こしょう</h3>
                      <p>
                        Azuma Arare returns with another irresistible treat! This yuzu pepper-flavoured snack is a part of the Puchi Arare series, crafted to offer a light and enjoyable snacking experience. Yuzu, infused with a kick of green chili pepper, these bite-sized arare (rice crackers) is meticulously prepared using specially-cultivated mochigome (glutinous) rice from Mr. Komatsu, a contracted farmer from Nakayama Town, Yamagata Prefecture. Combined with yuzu from Shikoku and subtly-grilled Okinawan salt, the result is a refreshing and delightful taste that's bound to delight the palate.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Tokyo</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Azuma Arare Honpo</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Savoury</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Soybean</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide" data-slick-index="6" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Smooth_Mikan_Jam.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Smooth Mikan Jam</h3>
                      <h3>果樹園のなめらかみかんジャム</h3>
                      <p>
                        This popular Smooth Mikan Jam brims with the richness of Arida mikan. Crafted from 100% pure juice from Arida mandarins from Sowa Kajuen, it boasts a velvety texture and a robust mandarin flavour. As the peel is excluded, it gives just a gentle taste – sans the bitterness – that is beloved by many. Spread it on bread, mix it with yogurt, or savour it like a fruity sauce – the possibilities to this pure indulgence are endless.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Wakayama</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Sowa Kajuen</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Oranges</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide" data-slick-index="7" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Snack_Komeko_Yuzu_Pepper.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Snack Komeko (Yuzu Pepper)</h3>
                      <h3>スナックコメ子　柚子胡椒</h3>
                      <p>
                        *OVERSEAS DEBUT!!*  If you've experienced our July's 'Taste of the Sea' Omiyage Snack Box, you probably recognise Hinodeya Seika! These small rice crackers, made with 100% Toyama-grown Uruchi rice and kneaded with Shiroebi (glass shrimp), the jewel delicacy of Toyama Bay, boast a refreshing and invigorating yuzu kosho (pepper) flavour. Conveniently sized for easy consumption and packaged with a resealable zip, this is a snack that's convenient to have anywhere, anytime.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Toyama</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Hinodeya Confectionery</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Savoury</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Wheat, mackerel, soybean, shrimp</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide" data-slick-index="8" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Whole_Mikan_Jelly.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Whole Mikan Jelly</h3>
                      <h3>果樹園のみかんジュレ まるごと</h3>
                      <p>
                        Cultivated with utmost care by Sowa Kajuen, this whole mikan (mandarin orange) jelly encapsulates the essence of Arida mandarins. Using a whopping 70% straight mikan juice, the entire mikan juice is solidified, which then creates this luxurious jelly that's a true ode to the mikan fruit. It's a mandarin lover's delight!
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Wakayama</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Sowa Kajuen</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Oranges</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide" data-slick-index="9" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Yuzu_Warabi_Mochi_Stick.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Yuzu Warabi Mochi Stick</h3>
                      <h3>ゆずわらび餅スティック</h3>
                      <p>
                        Enjoy the beautiful harmony of the elegant aroma of yuzu and the elasticity of warabi-mochi! Crafted by confectionery brand Ginza Kazuya, this Japanese treat features the aromatic essence of yuzu sourced from Ehime Prefecture, skillfully blended with bracken flour to create the luscious warabi-mochi. Encased in a convenient stick form, this snack promises an easy, on-the-go delight, with a delightful surprise – each bite is filled with the zest of yuzu peels!
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Kyoto</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Ginza Kazuya</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet and sour</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>N/A</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide slick-cloned" data-slick-index="10" id="" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Crunchy_Shrimp_Noodles.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Crunchy Shrimp Noodles</h3>
                      <h3>バリうまばりばりえび麺</h3>
                      <p>
                        Have a bari good time with these Crunchy Shrimp Noodles Snack! This snack is made with Sapporo’s yellow onion noodles that retain the flavour of amaebi (sweet shrimp) and a delightful bari-bari (crunchy) texture.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Hokkaido</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Hokkaido Food Frontier</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Savoury</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Wheat, eggs, soybean, chicken, shrimp</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide slick-cloned" data-slick-index="11" id="" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Ginger_Yuzu_Dry.jpg?v=1701327129);"></div>

                    <div class="content">
                      <h3>Ginger Yuzu Dry</h3>
                      <h3>ジンジャーゆーずドライ</h3>
                      <p>
                        Enjoy the best of Kochi with the Ginger Yuzu Dry! A collaboration between both of Kochi's representative produces, the rich aroma of yuzu and the slightly spiced ginger, creates a delightful kochi-licious combination.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Kochi</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Umaji Village Agricultural Cooperative Association</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>N/A</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide slick-cloned" data-slick-index="12" id="" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Gokkun_Umajimura_Yuzu_Jelly_Drink.jpg?v=1701327129);"></div>

                    <div class="content">
                      <h3>Gokkun Umajimura Yuzu Jelly Drink</h3>
                      <h3>ごっくん馬路村ゼリー</h3>
                      <p>
                        Gokkun Umajimura Yuzu Jelly Drink is made to recreate the refreshing and unmistakable taste of Umaji Village's yuzu, blending it with honey to create an innovative textured yuzu jelly beverage.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Kochi</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Umaji Village Agricultural Cooperative Association</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>N/A</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide slick-cloned" data-slick-index="13" id="" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Hokkai_Crab_Rice_Crackers.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Hokkai Crab Rice Crackers</h3>
                      <h3>北海かにせん塩味</h3>
                      <p>
                        Hokkai Crab Rice Crackers are made with thinly baked rice crackers made with Hokkaido starch that are slightly salted. The slight saltiness of the rice crackers enhances the flavour of crab, which is one of Hokkaido's seafood icons.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Aichi</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Hokkaido Food Frontier</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Savoury</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Wheat, shrimp, crab, soybean, chicken</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide slick-cloned" data-slick-index="14" id="" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Marble_Chocolate_Soft_Cookie.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Marble Chocolate Soft Cookie</h3>
                      <h3>マーブルチョコレート</h3>
                      <p>
                        *OVERSEAS DEBUT!!* Introducing marl's hobaru cookies, made with ingredients mainly from the prefectures of Gifu and Aichi! This soft cookie is one of marl's all-time favourite cookies, a beloved product crafted since the inception of marl. White and dark chocolate (57% cacao) are intricately woven into the vanilla and chocolate dough, resulting in a delectable blend of flavours unique to marl.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Gifu</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>marl</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Wheat, dairy, eggs, sesame, soybean</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide slick-cloned" data-slick-index="15" id="" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Petit_Arare_Yuzu_Pepper.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Petit Arare Yuzu Pepper</h3>
                      <h3>ぷちあられ 柚子こしょう</h3>
                      <p>
                        Azuma Arare returns with another irresistible treat! This yuzu pepper-flavoured snack is a part of the Puchi Arare series, crafted to offer a light and enjoyable snacking experience. Yuzu, infused with a kick of green chili pepper, these bite-sized arare (rice crackers) is meticulously prepared using specially-cultivated mochigome (glutinous) rice from Mr. Komatsu, a contracted farmer from Nakayama Town, Yamagata Prefecture. Combined with yuzu from Shikoku and subtly-grilled Okinawan salt, the result is a refreshing and delightful taste that's bound to delight the palate.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Tokyo</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Azuma Arare Honpo</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Savoury</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Soybean</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide slick-cloned" data-slick-index="16" id="" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Smooth_Mikan_Jam.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Smooth Mikan Jam</h3>
                      <h3>果樹園のなめらかみかんジャム</h3>
                      <p>
                        This popular Smooth Mikan Jam brims with the richness of Arida mikan. Crafted from 100% pure juice from Arida mandarins from Sowa Kajuen, it boasts a velvety texture and a robust mandarin flavour. As the peel is excluded, it gives just a gentle taste – sans the bitterness – that is beloved by many. Spread it on bread, mix it with yogurt, or savour it like a fruity sauce – the possibilities to this pure indulgence are endless.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Wakayama</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Sowa Kajuen</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Oranges</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide slick-cloned" data-slick-index="17" id="" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Snack_Komeko_Yuzu_Pepper.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Snack Komeko (Yuzu Pepper)</h3>
                      <h3>スナックコメ子　柚子胡椒</h3>
                      <p>
                        *OVERSEAS DEBUT!!*  If you've experienced our July's 'Taste of the Sea' Omiyage Snack Box, you probably recognise Hinodeya Seika! These small rice crackers, made with 100% Toyama-grown Uruchi rice and kneaded with Shiroebi (glass shrimp), the jewel delicacy of Toyama Bay, boast a refreshing and invigorating yuzu kosho (pepper) flavour. Conveniently sized for easy consumption and packaged with a resealable zip, this is a snack that's convenient to have anywhere, anytime.
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Toyama</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Hinodeya Confectionery</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Savoury</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Wheat, mackerel, soybean, shrimp</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide slick-cloned slick-center" data-slick-index="18" id="" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Whole_Mikan_Jelly.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Whole Mikan Jelly</h3>
                      <h3>果樹園のみかんジュレ まるごと</h3>
                      <p>
                        Cultivated with utmost care by Sowa Kajuen, this whole mikan (mandarin orange) jelly encapsulates the essence of Arida mandarins. Using a whopping 70% straight mikan juice, the entire mikan juice is solidified, which then creates this luxurious jelly that's a true ode to the mikan fruit. It's a mandarin lover's delight!
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Wakayama</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Sowa Kajuen</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>Oranges</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div><div class="pp__snacks_slide slick-slide slick-cloned" data-slick-index="19" id="" aria-hidden="true" style="width: 0px;" tabindex="-1">
                  <div class="snack_slide">
                    <div class="img" style="background-image: url(//japanrailclub.com/cdn/shop/files/2312_Yuzu_Warabi_Mochi_Stick.jpg?v=1701327130);"></div>

                    <div class="content">
                      <h3>Yuzu Warabi Mochi Stick</h3>
                      <h3>ゆずわらび餅スティック</h3>
                      <p>
                        Enjoy the beautiful harmony of the elegant aroma of yuzu and the elasticity of warabi-mochi! Crafted by confectionery brand Ginza Kazuya, this Japanese treat features the aromatic essence of yuzu sourced from Ehime Prefecture, skillfully blended with bracken flour to create the luscious warabi-mochi. Encased in a convenient stick form, this snack promises an easy, on-the-go delight, with a delightful surprise – each bite is filled with the zest of yuzu peels!
                      </p>

                      <div class="info-grid">
                        
                          <div class="info">
                            <h4>Origin</h4>
                            <span>Kyoto</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Made By</h4>
                            <span>Ginza Kazuya</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Flavour</h4>
                            <span>Sweet and sour</span>
                          </div>
                        

                        
                          <div class="info">
                            <h4>Allergen</h4>
                            <span>N/A</span>
                          </div>
                        

                        
                      </div>
                    </div>
                  </div>
                </div></div></div>
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </div>

            <div class="flex justify-center slide_control">
              <div class="nav pop_prev slick-arrow" style="margin-right: 10px;">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="20" cy="20" r="20" fill="#FCF1CF"></circle>
                  <path d="M27.2085 20.5L13.7918 20.5" stroke="#E6B422" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M20.5 27.208L13.7917 20.4997L20.5 13.7913" stroke="#E6B422" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>

              <div class="nav pop_next slick-arrow" style="">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="20" cy="20" r="20" transform="matrix(-1 0 0 1 40 0)" fill="#FCF1CF"></circle>
                  <path d="M12.7915 20.5L26.2082 20.5" stroke="#E6B422" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M19.5 27.208L26.2083 20.4997L19.5 13.7913" stroke="#E6B422" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [
      {
        "name": "product custom"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}